 <!DOCTYPE html>
<html>
<head>
	<title>Vistara registration</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</head>
<body>
	<div class="container">

		<div id="top">
			{% if session.get('logged') %}
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">Vistara</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active"><a class="nav-link" href="{{ url_for('profile') }}">Profile</a></li>
							<li class="nav-item"><a class="nav-link" href="{{ url_for('shop') }}">Shop</a></li>
							<li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}"><strong>Log Out</strong></a></li>
						</ul>
				</div>
			</nav>
			{% endif %}
		</div>

		<div id="middle">